*{box-sizing: border-box;}
.wrapper {margin: 0 auto; width: 960px; }
.pdf-controls { width: 100%; display: block; background: #eee; padding: 1em;}
.rotate0 {-webkit-transform: rotate(0deg); transform: rotate(0deg); }
.rotate90 {-webkit-transform: rotate(90deg); transform: rotate(90deg); }
.rotate180 {-webkit-transform: rotate(180deg); transform: rotate(180deg); }
.rotate270 {-webkit-transform: rotate(270deg); transform: rotate(270deg); }
.fixed { position: fixed; top: 0; left: calc(85% - 480px); z-index: 100; width: 100%; padding: 1em; background: rgba(238, 238, 238, 0.33); width: 460px;margin-top:5px;}
#HelpCtrl {background-color:transparent;}
#HelpCtrl .paperwrap{padding:0;margin-bottom: 5px;}
#HelpCtrl canvas{box-shadow:3px 3px 3px rgba(136, 136, 136, 0.67);}