<html>
    <head>
        <title>Register</title>
        <script data-main="/static/js/main.js" src="/static/js/lib/require.js"></script>
    </head>
    <body ng-controller="authCtrl">
        <section >
	        <form ng-submit="login()">
			   <h1>Login</h1>
			   <p>
			      <input type="email" name="email" ng-model="user.email" placeholder="email" >
			   </p>
			   <p>
			       <input type="password" name="password" ng-model="user.password" placeholder="Password">
			   </p>
			   <p>
			       <button type="submit">Register</button>
			   </p>	
			 </form>
		</section>
    </body>
</html>