@import play.i18n._
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href='@routes.Assets.versioned("css/bootstrap.min.css")' type="text/css" />
		<link rel="stylesheet" href='@routes.Assets.versioned("css/style.css")' type="text/css" >
		<script data-main="/static/js/main.js"
        src="/static/js/lib/require.js"></script>	
	</head>
	<body  ng-controller="mainCtrl" id="mainCtrl">
		Hello
		<buttun ng-click="test()" class="btn btn-danger">test</buttun>
	</body>
</html>